<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miniProject.mapper.MemberMapper">
<insert id="memberInsert" parameterType="MemberDTO">
    insert into members(member_num, member_id, member_pw, member_name, member_phone1, member_birth, member_email, member_regist)
    values(#{memberNum,jdbcType=VARCHAR}, #{memberId}, #{memberPw}, #{memberName}, #{memberPhone1}, #{memberBirth}, #{memberEmail}, sysdate)
</insert>


<select id="getMemberNum" parameterType="string" resultType="string">
select member_num from members
where member_id = #{memberId}
</select>
</mapper>
