<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miniProject.mapper.MemberMapper">
<insert id="memberInsert" parameterType="MemberDTO">
insert into members(member_num, member_id, member_pw, member_name, member_addr, member_addr_detail, member_post
					, member_phone1, member_phone2, gender, member_birth, member_email, member_regist)
values(#{memberNum}, #{memberId}, #{memberPw}, #{memberName}, #{memberAddr}, #{memberAddrDetail}, #{memberPost}
		, #{memberPhone1}, #{memberPhone2}, #{gender}, #{memberBirth}, #{memberEmail}, sysdate)
</insert>
</mapper>