
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="miniProject.mapper.WishMapper">

    <!-- Insert Wish -->
    <insert id="insertWish" parameterType="WishDTO">
        INSERT INTO wish (user_id, product_id, created_at)
        VALUES (#{userId}, #{productId}, NOW())
    </insert>

    <!-- Delete Wish -->
    <delete id="deleteWish" parameterType="long">
        DELETE FROM wish WHERE wish_id = #{wishId}
    </delete>

    <!-- Select Wishes by User -->
    <select id="selectWishesByUser" parameterType="long" resultType="WishDTO">
        SELECT * FROM wish WHERE user_id = #{userId}
    </select>

</mapper>
