<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 기본 설정 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- 사이트 메타정보 -->
    <title>기가마켓 사용자 약관</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- 스타일 및 폰트 -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    
     <!-- 스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>
<body>
    <!-- 배너 시작 -->
    <div class="banner_bg_main">
        <!-- 헤더 상단 섹션 -->
        <div class="container">
            <div class="header_section_top">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="custom_menu">
                            <ul>
                                <li><a href="#">베스트셀러</a></li>
                                <li><a href="#">기프트 아이디어</a></li>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">오늘의 특가</a></li>
                                <li><a href="#">고객 서비스</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 헤더 상단 섹션 종료 -->
        <!-- 로고 섹션 시작 -->
        <div class="logo_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logo"><a href="../"><img src="/static/images/logo.png" alt="로고"> 로고 이미지</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 로고 섹션 종료 -->
        <!-- 헤더 섹션 시작 -->
        <div class="header_section">
            <div class="container">
                <div class="containt_main">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="index.html">홈</a>
                        <a href="electronic.html">전자제품</a>
                    </div>
                    <span class="toggle_icon" onclick="openNav()"><img src="/static/images/toggle-icon.png" alt="토글 아이콘"></span>
                    <div class="dropdown">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">액션</a>
                            <a class="dropdown-item" href="#">다른 액션</a>
                            <a class="dropdown-item" href="#">기타</a>
                        </div>
                    </div>
                    <div class="header_box">
                        <div class="lang_box">
                            <a href="#" title="언어" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                                <img src="/static/images/flag-kr.png" alt="한국 국기" class="mr-2" title="한국어"> 한국어 <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">
                                    <img src="/static/images/flag-uk.png" class="mr-2" alt="영국 국기"> English
                                </a>
                            </div>
                        </div>
                        <div class="login_menu">
                            <ul>
                                <li><a href="#">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span class="padding_10">장바구니</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 헤더 섹션 종료 -->
        <br>
		 <div class="container">
        <h1 class="mt-4 mb-4">상품 상세보기</h1>
        <table class="table table-bordered">
            <tr>
                <th>상품번호</th>
                <td><span id="goodsNum">[[${goodsCommand.goodsNum}]]</span></td>
            </tr>
            <tr>
                <th>상품명</th>
                <td><span id="goodsName">[[${goodsCommand.goodsName}]]</span></td>
            </tr>
            <tr>
                <th>상품가격</th>
                <td><span id="goodsPrice">[[${goodsCommand.goodsPrice}]]</span></td>
            </tr>
            <tr>
                <th>상품설명</th>
                <td>
                    <span th:utext="${#strings.replace(goodsCommand.goodsContents, newLine, '<br />')}"></span>
                </td>
            </tr>
            <tr>
                <th>등록한 회원</th>
                <td>
                    <a th:if="${goodsCommand.memberNum != null}" 
                       th:href="@{/../member/memberDetail/{memberNum}(memberNum=${goodsCommand.memberNum})}">
                       [[${goodsCommand.memberNum}]]
                    </a>
                    <span th:if="${goodsCommand.memberNum == null}">회원 정보 없음</span>
                </td>
            </tr>
            <tr>
                <th>등록일</th>
                <td>[[${#dates.format(goodsCommand.goodsRegist, 'yyyy-MM-dd')}]]</td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>대문이미지</strong><br />
                    <img th:src="|/static/upload/${goodsCommand.goodsMainStoreImage}|" alt="대문이미지" class="img-fluid" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong>상세이미지</strong><br />
                    <div th:each="image : ${#strings.arraySplit(goodsCommand.goodsDetailStoreImage, '[`/]')}">
                        <img th:src="|/static/upload/${image}|" alt="상세이미지" class="img-fluid mb-2" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img th:src="${wish > 0 ? '/static/images/hart.jpg' : '/static/images/hart1.jpg'}" 
                         id="wish" width="20" alt="찜 상태" />
                    <span>찜</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <a th:href="@{goodsUpdate(goodsNum=${goodsCommand.goodsNum})}" class="btn btn-warning">상품 수정</a>
                    <a th:href="@{'goodsDel/' + ${goodsCommand.goodsNum}}" class="btn btn-danger">상품 삭제</a>
                    <a href="goodsList" class="btn btn-secondary">상품목록</a>
                    <a href="javascript:history.back();" class="btn btn-secondary">뒤로가기</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>