<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goods List</title>
</head>
<body>
    <h1>Goods List</h1>
    
    <!-- list 모델 속성에 있는 데이터를 반복문으로 출력 -->
    <div th:each="dto : ${list}">
        <p th:text="'Goods Name: ' + ${dto.goodsName}"></p>
        <p th:text="'Goods Price: ' + ${dto.goodsPrice}"></p>
        <p th:text="'Goods Contents: ' + ${dto.goodsContents}"></p>
    </div>
</body>
</html>
