<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 기본 설정 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- 사이트 메타정보 -->
    <title>기가마켓 사용자 약관</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- 스타일 및 폰트 -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    
    <!-- 스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#nxtBtn").click(function() {
                if ($("#agree").is(":checked")) {
                    location.href = "Register";
                } else {
                    alert("약관에 동의해야 합니다.");
                }
            });
        });
    </script>
</head>
<body>
    <!-- 배너 시작 -->
    <div class="banner_bg_main">
        <!-- 헤더 상단 섹션 -->
        <div class="container">
            <div class="header_section_top">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="custom_menu">
                            <ul>
                                <li><a href="#">베스트셀러</a></li>
                                <li><a href="#">기프트 아이디어</a></li>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">오늘의 특가</a></li>
                                <li><a href="#">고객 서비스</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 헤더 상단 섹션 종료 -->
        <!-- 로고 섹션 시작 -->
        <div class="logo_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logo"><a href="index.html"><img src="/static/images/logo.png" alt="로고"> 로고 이미지</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 로고 섹션 종료 -->
        <!-- 헤더 섹션 시작 -->
        <div class="header_section">
            <div class="container">
                <div class="containt_main">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="index.html">홈</a>
                        <a href="electronic.html">전자제품</a>
                    </div>
                    <span class="toggle_icon" onclick="openNav()"><img src="/static/images/toggle-icon.png" alt="토글 아이콘"></span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">모든 카테고리</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">액션</a>
                            <a class="dropdown-item" href="#">다른 액션</a>
                            <a class="dropdown-item" href="#">기타</a>
                        </div>
                    </div>
                    <div class="main">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="블로그 검색">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="header_box">
                        <div class="lang_box">
                            <a href="#" title="언어" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                                <img src="/static/images/flag-kr.png" alt="한국 국기" class="mr-2" title="한국어"> 한국어 <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">
                                    <img src="/static/images/flag-uk.png" class="mr-2" alt="영국 국기"> English
                                </a>
                            </div>
                        </div>
                        <div class="login_menu">
                            <ul>
                                <li><a href="#">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span class="padding_10">장바구니</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 헤더 섹션 종료 -->
        
        <!-- 사용자 약관 -->
        <h1>기가마켓 사용자 약관</h1>
        <textarea rows="30" cols="60" style="align-items: center;" readonly="readonly">
제 1 조 (목적) 이 약관은 기가마켓(이하 "사이트")이 제공하는 모든 서비스의 이용조건 및 절차, 회원과 사이트의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

제 2 조 (용어의 정의)

"사이트"란 기가마켓이 제공하는 인터넷 서비스를 말합니다.

"회원"이란 사이트에 접속하여 이 약관에 따라 사이트가 제공하는 서비스를 받는 이용자를 말합니다.

"아이디(ID)"란 회원의 식별과 서비스 이용을 위해 회원이 설정하고 사이트가 승인하는 문자와 숫자의 조합을 말합니다.

"비밀번호"란 회원이 부여받은 아이디와 일치된 회원임을 확인하고 비밀보호를 위해 회원 자신이 설정한 문자와 숫자의 조합을 말합니다.

제 3 조 (약관의 명시와 개정)

사이트는 이 약관의 내용을 회원이 쉽게 알 수 있도록 서비스 초기 화면에 게시합니다.

사이트는 약관의 규제에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 "정보통신망법") 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.

사이트가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 사이트의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.

회원은 변경된 약관에 동의하지 않을 권리가 있으며, 변경된 약관에 동의하지 않을 경우 회원탈퇴(이용계약 해지)를 요청할 수 있습니다.

제 4 조 (서비스의 제공 및 변경)

사이트는 다음과 같은 서비스를 제공합니다:

중고 휴대폰 및 컴퓨터 거래 중개

구매 및 판매 정보 제공

기타 사이트가 정하는 서비스

사이트는 서비스의 내용 변경 시, 변경될 서비스의 내용 및 제공일자를 명시하여 회원에게 통지합니다.

제 5 조 (서비스의 중단)

사이트는 시스템 점검, 교체 및 고장, 통신두절 등의 이유로 서비스 제공이 일시적으로 중단될 수 있습니다.

제1항의 사유로 서비스가 중단될 경우 사이트는 회원에게 통지하며, 이로 인해 발생한 회원의 손해에 대해 책임지지 않습니다.

제 6 조 (회원가입)

이용자는 사이트가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로써 회원가입을 신청합니다.

사이트는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다:

등록 내용에 허위, 기재누락, 오기가 있는 경우

기타 회원으로 등록하는 것이 사이트의 기술상 현저히 지장이 있다고 판단되는 경우

제 7 조 (회원의 의무)

회원은 다음 행위를 하여서는 안 됩니다:

신청 또는 변경 시 허위 내용의 등록

타인의 정보 도용

사이트에 게시된 정보의 변경

사이트가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시

기타 불법적이거나 부당한 행위

제 8 조 (개인정보 보호)

사이트는 관련 법령이 정하는 바에 따라 회원의 개인정보를 보호하기 위해 노력합니다.

회원의 개인정보 보호 및 사용에 대해서는 관련 법령 및 사이트의 개인정보 처리방침이 적용됩니다.

제 9 조 (책임의 제한)

사이트는 천재지변, 전쟁, 폭동, 정부의 통제, 전력공급 장애 등 불가항력으로 인하여 서비스를 제공할 수 없는 경우 그 책임을 지지 않습니다.

사이트는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.

제 10 조 (분쟁 해결)

사이트는 회원 간 발생한 분쟁에 관여하지 않으며, 당사자 간 해결을 원칙으로 합니다.

</textarea>
<br>
<input type="checkbox" id="agree">동의함

<button id="nxtBtn">다음으로</button>
</body>
</html>