<!DOCTYPE html>
<html>
<head>
    <!-- 기본 설정 -->
    <meta charset="utf-8">
    <title>Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- 사이트 메타정보 -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- 스타일 및 폰트 -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    <style>
        .table-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <!-- 배너 배경 메인 시작 -->
    <div class="banner_bg_main">
        <!-- 헤더 상단 섹션 시작 -->
        <div class="container">
            <div class="header_section_top">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="custom_menu">
                            <ul>
                                <li><a href="#">Best Sellers</a></li>
                                <li><a href="#">Gift Ideas</a></li>
                                <li><a href="#">New Releases</a></li>
                                <li><a href="#">Today's Deals</a></li>
                                <li><a href="#">Customer Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 헤더 상단 섹션 종료 -->

        <!-- 로고 섹션 시작 -->
        <div class="logo_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logo"><a href="../../"><img src="/static/images/logo.png" alt="로고"> 여기에 로고 이미지</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 로고 섹션 종료 -->

        <!-- 헤더 섹션 시작 -->
        <div class="header_section">
            <div class="container">
                <div class="containt_main">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="index.html">Home</a>
                        <a href="electronic.html">Electronic</a>
                    </div>
                    <span class="toggle_icon" onclick="openNav()"><img src="/static/images/toggle-icon.png" alt="토글 아이콘"></span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="main">
                        <!-- 검색 입력 -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search this blog">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="header_box">
                        <div class="lang_box">
                            <a href="#" title="언어" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                                <img src="/static/images/flag-kr.png" alt="국기" class="mr-2" title="한국어"> 한국어 <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">
                                    <img src="/static/images/flag-uk.png" class="mr-2" alt="국기"> English
                                </a>
                            </div>
                        </div>
                        <div class="login_menu">
                            <ul>
                                <li><a href="#">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span class="padding_10">Cart</span></a>
                                </li>
                                <li><a href="/member/Profile">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="padding_10">Profile</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 헤더 섹션 종료 -->
        
        <!-- 프로필 테이블 섹션 시작 -->
<div class="table-container">
    <div>
        <h1>Profile of [[${memberCommand.memberId}]]</h1> <!-- 제목을 테이블 위로 위치 -->
        <table border="1">
            <thead>
                <tr>
                    <th colspan="2">회원정보</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>아이디</td>
                    <td th:text="${memberCommand.memberId}">아이디</td>
                </tr>
                <tr>
                    <td>가입일</td>
                    <td th:text="${memberCommand.memberRegist}">가입일</td>
                </tr>
                <tr>
                    <td colspan="2">등록물품</td>
                </tr>
                    <td>상품 번호</td>
                    <td>등록된 물품 데이터가 없습니다.</td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><a href="/../Join/logout">로그아웃</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <!-- 배너 배경 메인 종료 -->
</body>
</html>

